.background {
  height: 100vh;  
  display: flex; 
  flex-direction: column;
  padding: 3em; 
  background-image: url('../images/forest.jpg');
  background-size: cover; 
} 

.heading {
  color: white;
}

.text {
  color: white;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black; 
  padding: 1em;
}