.hero {
  height: 100vh;  
  display: flex; 
  flex-direction: column;
  padding: 3em; 
  background-image: url('../images/forest.jpg');
  background-size: cover; 
} 

.modalOpen {
  overflow-y: hidden;
  padding-right: 15px; /* Avoid width reflow  */
}

.heading {
  color: white;
}

.text {
  color: white;
}
  
.content {
  padding: 1em;
}